$primaryColor: #EAEAEA; 
$secondaryColor: #383838; 
$accentColor: #7AD05D; 
$font: Roboto;

@mixin center-children {
  display: flex;
  align-items: center;
}

@mixin offset-width {
  width: 375;
  margin-left: 20;
}

@mixin h1 {
  font-family: $font;
  font-size: 26;
}

@mixin h2 {
  font-family: $font;
  font-size: 24;
}

@mixin p {
  font-family: $font;
  font-size: 20;
}

// Add Task View

footer {
  @include center-children;
  background-color: $secondaryColor;
  flex: 0.15;
}

.showModalAccent {
  width: 65;
  height: 65;
  background-color: $accentColor;
  align-items: center;
  padding-top: 5;
}

.modal {
  background-color: $secondaryColor;
  flex: 1;
  &Header {
    @include center-children;
    background-color: $secondaryColor;
    flex-direction: row;
    justify-content: space-around;
  }
}

.hideModal {
  @include p;
  background-color: $secondaryColor;
  color: $accentColor;
}

.submitTask {
  @extend .hideModal;
}

.newTaskTitle {
  @include h2;
  margin: 10; 
  color: $primaryColor;
  text-align: center;
}

title {
  @include h2;
  color: $primaryColor;
  margin: 20
}

input {
  @include offset-width;
  height: 40;
  background-color: $primaryColor;
}

.recurrance {
  @include center-children;
  @include offset-width;
  flex-direction: row;
  justify-content: space-around;
  background-color: $primaryColor;
  height: 40;
}

// Task List View

.taskList {
  background-color: $primaryColor;
  flex: 2;
  flex-direction: column;
  justify-content: space-around;
}

.categoryName {
  @include h2;
  background-color: $accentColor;
  color: #fff;
  font-weight: bold;
  align-items: center;
}

.taskCard {
 @include offset-width;
  background-color: #fff;
  padding: 20;
  margin-bottom: 10;
}

.taskElements {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.taskText {
  flex-direction: column;
  justify-content: space-between;
}

.titleText {
  @include h1;
  text-align: center;
  padding-bottom: 10
}

.baseText {
  @include p;
}

// Login and Register View

.login {
  background-color: #fff;
  flex: 2;
  justify-content: center;
  align-items: center;
}

.loginInput {
  height: 40;
  background-color: $primaryColor;
  width: 375;
  margin-bottom: 20;
}

.loginButton {
  @include center-children;
  width: 375;
  height: 40;
  background-color: $accentColor;
  margin-bottom: 15;
}

.loginText {
  @include p;
  color: #fff;
  margin-top: 5;
}

// Menu Bar

.menu {
  background-color: $secondaryColor;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1
}

.indivMenu {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-bottom-color: $accentColor;
  padding: 10;
  padding-bottom: 15;
}

.menuText {
  @include h2;
  margin-left: 5;
  color: $primaryColor; 
}


