$primaryColor: #EAEAEA; 
$secondaryColor: #303030; 
$accentColor: #28BF32; 

@mixin center-children {
  display: flex;
  align-items: center;
}

@mixin offset-width {
  width: 375;
  margin-left: 20;
}



footer {
  @include center-children;
  background-color: $secondaryColor;
  flex: 0.2;
}

.showModal {
  width: 65;
  height: 100;
  background-color: $accentColor;
  align-items: center;
  padding-top: 10;
}

.modal {
  background-color: $secondaryColor;
  align-items: stretch;
  justify-content: flex-start;
  padding-bottom: 250;
  flex: 1;
  &Header {
    @include center-children;
    background-color: $secondaryColor;
    flex-direction: row;
    justify-content: space-around;
  }
}

.hideModal {
  background-color: $secondaryColor;
  color: $accentColor;
  font-size: 20;
}

.submitTask {
  @extend .hideModal;
}

.newTaskTitle {
  margin: 10; 
  font-size: 24; 
  color: $primaryColor;
  text-align: center;
}

title {
  font-size: 20;
  color: $primaryColor;
  margin: 20
}

input {
  @include offset-width;
  height: 40;
  background-color: $primaryColor;
}

.recurrance {
  @include center-children;
  @include offset-width;
  flex-direction: row;
  justify-content: space-around;
  background-color: $primaryColor;
  height: 40;
}

.taskList {
  background-color: $primaryColor;
  flex: 2;
  align-items: stretch;
}

.taskCard {
  background-color: #fff;
  flex: 2;
  justify-content: space-around;
}

.titleText {
  font-size: 24;
  font-weight: bold;
  text-align: center;
}

.baseText {
  font-size: 20;
}
